* {
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.main {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    width: 100%;
    height: 100%;
    position: relative;
}
.grid {
    height: 50vh;
}
.grid:nth-child(1){
    background-color: #009999;
}
.grid:nth-child(2){
    background-color: #FF9900;
}
.grid:nth-child(3){
    background-color: #000;
}
.grid:nth-child(4){
    background-color: #FF3300;
}
.square {
    background-color: #fff;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    cursor: pointer;
    transition: background-color 1s ease;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
}
p{
    font-size: 26px;
    font-weight: 700;
    color: #999;
    text-align: center;
}